<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="scss/index.css" rel="stylesheet">
    <title>Document</title>git
</head>
<body>
    <header>
        <div class="header_top">
            <div class="header_left">
                <h1>로고</h1>
                <div>
                    <h2>[Sample] Google Anlytics Marketing Website 사본</h2>
                    <ul>
                        <li>파일</li>
                        <li>수정</li>
                        <li>포기</li>
                        <li>삽입</li>
                        <li>페이지</li>
                        <li>정렬</li>
                        <li>리소스</li>
                        <li>도움말</li>
                    </ul>
                </div>
            </div>
            <div class="header_right">
                <div class="circle"></div>
                <div class="square undo">
                    <p class="icons">
                        <img src="img/undo.png" alt="">
                    </p>                    
                    재설정
                </div>
                <div class="square share">
                    <p class="icons">
                        <img src="img/user.png" alt="">
                    </p>
                    공유
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </div>
                <div class="square vision">
                    <p class="icons">
                        <img src="img/vision.png" alt="">
                    </p>
                    보기
                </div>
                <div class="circle">
                    <span class="dots"></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>
                <div class="line"></div>
                <div class="question">
                    <img src="img/question.png" alt="">
                </div>
                <div class="squares">
                    <img src="img/squares.png" alt="">
                </div>                         
                <div class="circle"></div>
            </div>
        </div>         
        <div class="tools">
            <ul>
                <li>
                    <p class="icons">
                        <img src="img/undo.png" alt="">
                    </p>                    
                </li>
                <li>
                    <p class="icons reverse">
                        <img src="img/undo.png" alt="">
                    </p>                    
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li class="active">
                    <p class="icons">
                        <img src="img/cursor.png" alt="">
                    </p>                    
                </li>                
                <li>
                    <span class="line"></span>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/page.png" alt="">
                    </p> 
                    Add page                   
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/database.png" alt="">
                    </p>      
                    데이터 추가              
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/chart.png" alt="">
                    </p>
                    차트 추가
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>                
                <li>
                    <p class="icons">
                        <img src="img/line.png" alt="">
                    </p>
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/settings.png" alt="">
                    </p>
                    컨트롤 추가
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li>
                    <p class="icons next reverse">
                        <img src="img/next.png" alt="">
                    </p>
                    <p class="icons next">
                        <img src="img/next.png" alt="">
                    </p>
                </li>                
                <li>
                    <p class="icons">
                        <img src="img/image.png" alt="">
                    </p>
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/text.png" alt="">
                    </p>
                </li>
                <li>
                    <p class="icons lines">
                        <img src="img/line.png" alt="">
                    </p>
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>
                <li>
                    <p class="icons">
                        <img src="img/shapes.png" alt="">
                    </p>
                    <p class="option">
                        <img src="img/down.png" alt="">
                    </p>
                </li>
                <li>
                    <span class="line"></span>
                </li>
                <li>테마 및 레이아웃</li>
            </ul>
        </div>   
    </header>
    <main>
        <section class="section_left">
            <div class="blank">IMG</div>
        </section>
        <section class="section_right">
            <h3>테마 및 레이아웃</h3>
            <ul class="section_option">
                <li>테마</li>
                <li class="selected">레이아웃</li>
            </ul>
            <div class=" sectionbox viewmode">
                <span>보기모드</span>
                <ul>
                    <li>
                        헤더 공개 상태
                        <div class="modelist">
                            항상표시
                            <p class="option">
                                <img src="img/down.png" alt="">
                            </p>
                        </div>
                    </li>
                    <li>
                        탐색유형
                        <div class="modelist">
                            왼쪽
                            <p class="option">
                                <img src="img/down.png" alt="">
                            </p>
                        </div>
                    </li>
                    <li>
                        표시모드
                        <form>
                            <label for="circlebox">
                                <input type="radio" class="cb">폭에 맞춤
                            </label>
                            <label  for="circlebox">
                                <input type="radio" class="cb" checked>실제크기
                            </label>
                            <label  for="squarebox">
                                <input type="checkbox" class="sb" checked>여백 있음
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="sectionbox canvassize">
                <div class="canvassize_title">
                    <span>캔버스크기</span>   
                    <p class="question">
                        <img src="img/question.png" alt="">
                    </p>  
                </div>         
                <div class="sizelist">
                    <div class="sizelist_mode">
                        US Letter(4:3)-세로모드
                        <p class="option">
                            <img src="img/down.png" alt="">
                        </p>
                    </div>
                    <ul class="sizelist_wh">
                        <li>
                            너비(px)
                            <span>900</span>
                        </li>
                        <li>
                            높이(px)
                            <span>1200</span>
                        </li>
                    </ul>
                </div>      
            </div>
            <div class="sectionbox fitting">
                <span>맞추기</span>
                <form>
                    <label for="circlebox">
                        <input type="radio" class="cb">스마트 가이드
                    </label>
                    <label  for="circlebox">
                        <input type="radio" class="cb" checked>그리드
                    </label>
                </form>
            </div>
            <div class="sectionbox">
                <span>그리드 설정</span>
                <ul class="gridsetting">
                    <li>
                        크기(px)
                        <span>10</span>
                    </li>
                    <li>
                        패딩(px)
                        <span>0</span>
                    </li>
                    <li>
                        가로 오프셋(px)
                        <span>0</span>
                    </li>
                    <li>
                        세로 오프셋(px)
                        <span>0</span>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>