<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/scss/index.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <header>
            <div class="header">
                <div class="header-title">
                    <h1 class="header__logo"><a>로고</a></h1>
                    <div class="header__menu">
                        <h2 class="header__title">[Sample] Google Anlytics Marketing Website 사본</h2>
                        <ul class="gnb">
                            <!-- gnb__sub--open 클래스 추가시 하위 gnb-sub 메뉴 노출 -->
                            <li class="gnb__list">
                                <button>파일</button>
                                <ul class="gnb-sub gnb__sub--open">
                                    <li class="gnb-sub__list">
                                        <button>
                                            <span class="gnb-sub__icon">
                                                <img src="" alt="">
                                            </span>
                                            <span class="gnb-sub__text">공유...</span>
                                            <span class="gnb-sub__icon">
                                                <img src="" alt="">
                                            </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list">
                                        <button class="underline">
                                            <span class="gnb-sub__icon">
                                                <img src="" alt="">
                                            </span>
                                            <span class="gnb-sub__text">보고서 설정</span>
                                            <span class="gnb-sub__icon">
                                                <img src="" alt="">
                                            </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list"">
                                        <button>
                                            <span class=" gnb-sub__icon">
                                        <img src="../src/img/history.png" alt="">
                                        </span>
                                        <span class="gnb-sub__text">버전 기록</span>
                                        <span class="gnb-sub__icon">
                                            <img src="../src/img/next.png" alt="">
                                        </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list"">
                                        <button>
                                            <span class=" gnb-sub__icon">
                                        <img src="" alt="">
                                        </span>
                                        <span class="gnb-sub__text">게시 설정</span>
                                        <span class="gnb-sub__icon">
                                            <img src="" alt="">
                                        </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list"">
                                        <button>
                                            <span class=" gnb-sub__icon">
                                        <img src="" alt="">
                                        </span>
                                        <span class="gnb-sub__text">새 보고서</span>
                                        <span class="gnb-sub__icon">
                                            <img src="" alt="">
                                        </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list"">
                                        <button>
                                            <span class=" gnb-sub__icon">
                                        <img src="" alt="">
                                        </span>
                                        <span class="gnb-sub__text">사본 만들기...</span>
                                        <span class="gnb-sub__icon">
                                            <img src="" alt="">
                                        </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list">
                                        <button class="underline">
                                            <span class="gnb-sub__icon">
                                                <img src="" alt="">
                                            </span>
                                            <span class="gnb-sub__text">다른 형식으로 다운로드</span>
                                            <span class="gnb-sub__icon">
                                                <img src="../src/img/next.png" alt="">
                                            </span>
                                        </button>
                                    </li>
                                    <li class="gnb-sub__list"">
                                        <button>
                                            <span class=" gnb-sub__icon">
                                        <img src="" alt="">
                                        </span>
                                        <span class="gnb-sub__text">보고서 삽입</span>
                                        <span class="gnb-sub__icon">
                                            <img src="" alt="">
                                        </span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                            <li class="gnb__list"><button>수정</button></li>
                            <li class="gnb__list"><button>포기</button></li>
                            <li class="gnb__list"><button>삽입</button></li>
                            <li class="gnb__list"><button>페이지</button></li>
                            <li class="gnb__list"><button>정렬</button></li>
                            <li class="gnb__list"><button>리소스</button></li>
                            <li class="gnb__list"><button>도움말</button></li>
                        </ul>
                    </div>
                </div>
                <div class="haeder-action">
                    <button class=" header-action__button haeder-action--circle"></button>
                    <button class="header-action__button haeder-action--square haeder-action--undo">
                        <span class="haeder-action--icon">
                            <img src="../src/img/undo.png" alt="">
                        </span>
                        재설정
                    </button>
                    <button class="header-action__button haeder-action--square haeder-action--share">
                        <span class="haeder-action--icon">
                            <img src="../src/img/user.png" alt="">
                        </span>
                        공유
                        <span class="haeder-action--dropdown">
                            <img src="../src/img/down.png" alt="">
                        </span>
                    </button>
                    <button class="header-action__button haeder-action--square">
                        <span class="haeder-action--icon">
                            <img src="../src/img/vision.png" alt="">
                        </span>
                        보기
                    </button>
                    <button class="header-action__button haeder-action--circle">
                        <span class="haeder-action--dots"></span>
                        <span class="haeder-action--dots"></span>
                        <span class="haeder-action--dots"></span>
                    </button>
                    <div class="sideline">
                        <button class="haeder-action--question">
                            <img src="../src/img/question.png" alt="">
                        </button>
                        <button class="haeder-action--more">
                            <img src="../src/img/squares.png" alt="">
                        </button>
                        <button class="header-action__button haeder-action--circle""></button>
                    </div>
                </div>
            </div>
            <div class=" header-tools">
                            <ul class="lnb">
                                <li class="lnb__list">
                                    <button class="lnb__list--disable">
                                        <span class="lnb__icon">
                                            <img src="../src/img/undo.png" alt="">
                                        </span>
                                    </button>
                                    <button class="lnb__list--disable">
                                        <span class="lnb__icon lnb__icon--reverse">
                                            <img src="../src/img/undo.png" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/cursor.png" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/page.png" alt="">
                                        </span>
                                        Add page
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/database.png" alt="">
                                        </span>
                                        데이터 추가
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/chart.png" alt="">
                                        </span>
                                        차트 추가
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/line.png" alt="">
                                        </span>
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/settings.png" alt="">
                                        </span>
                                        컨트롤 추가
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="lnb__list">
                                    <button>
                                        <span class="lnb__icon lnb__reverse">
                                            <img src="../src/img/next.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/next.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/image.png" alt="">
                                        </span>
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/text.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/line.png" alt="">
                                        </span>
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                    <button>
                                        <span class="lnb__icon">
                                            <img src="../src/img/shapes.png" alt="">
                                        </span>
                                        <span class="lnb__dropdown">
                                            <img src="../src/img/down.png" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="lnb__list"><button>테마 및 레이아웃</button></li>
                            </ul>
                    </div>
        </header>
        <main>
            <section class="workspace">
                <div class="workspace-product">IMG</div>
            </section>
            <section class="sliding">
                <h3 class="sliding__title">테마 및 레이아웃</h3>
                <ul class="sliding-option__list">
                    <li class="sliding-option__item"><button>테마</button></li>
                    <li class="sliding-option__item sliding-option__item--selected"><button>레이아웃</button></li>
                </ul>
                <div class=" sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">보기모드</span>
                    </div>
                    <ul class="selector">
                        <li class="selector-container">
                            <!-- selector-container__button 클릭시 selector-option__item--open 추가  -->
                            <span class="selector-container__title">헤더 공개 상태</span>
                            <div class="selector-container__select">
                                <button class="selector-container__button">
                                    <span class="selector-container__subtitle">항상 표시</span>
                                    <span class="selector-container__icon">
                                        <img src="../src/img/down.png" alt="">
                                    </span>
                                </button>
                                <ul class="selector-option__list selector-option__list--open">
                                    <li class="selector-option__item">
                                        <button>항상 표시</button>
                                    </li>
                                    <li class="selector-option__item">
                                        <button>표시 안함</button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="selector-container">
                            <span class="selector-container__title">탐색 유형</span>
                            <div class="selector-container__select">
                                <button class="selector-container__button">
                                    <span class="selector-container__subtitle">왼쪽</span>
                                    <span class="selector-container__icon">
                                        <img src="../src/img/down.png" alt="">
                                    </span>
                                </button>
                                <ul class="selector-option__list">
                                    <li class="selector-option__item">
                                        <button>왼쪽</button>
                                    </li>
                                    <li class="selector-option__item">
                                        <button>오른쪽</button>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="selector-container">
                            <span class="selector-container__title">표시모드</span>
                            <form class="selector-selectbox">
                                <div class="radio selector-selectbox__common">
                                    <input id="radio1" type="radio" name="radio">
                                    <label for="radio1">폭에 맞춤</label>
                                </div>
                                <div class="radio selector-selectbox__common">
                                    <input id="radio2" type="radio" checked="checked" name="radio">
                                    <label for="radio2">실제 크기</label>
                                </div>
                            </form>
                            <form class="selector-selectbox">
                                <div class="checkbox selector-selectbox__common">
                                    <input id="checkbox" type="checkbox" checked="checked">
                                    <label for="checkbox">여백있음</label>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">캔버스 크기</span>
                        <span class="sliding-box__title-icon">
                            <img src="../src/img/question.png" alt="">
                        </span>
                    </div>
                    <ul class="selector">
                        <li class="selector-container">
                            <!-- selector-container__button 클릭시 selector-container__option--open 추가  -->
                            <div class="selector-container__select">
                                <button class="selector-container__button">
                                    <span class="selector-container__subtitle">US letter(4:3) 세로모드</span>
                                    <span class="selector-container__icon">
                                        <img src="../src/img/down.png" alt="">
                                    </span>
                                </button>
                                <ul class="selector-option__list selector-option__list--open">
                                    <li class="selector-option__item">
                                        <button>US letter(4:3) 세로모드</button>
                                    </li>
                                    <li class="selector-option__item">
                                        <button>US letter(4:3) 가로모드</button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form class="size__list">
                        <div class="size__item">
                            <label for="width">너비(px)</label>
                            <input id="width" type="number" value="900">
                        </div>
                        <div class="size__item">
                            <label for="height">높이(px)</label>
                            <input id="height" type="number" value="1200">
                        </div>

                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">맞추기</span>
                    </div>
                    <form class="selector-selectbox">
                        <div class="radio selector-selectbox__common">
                            <input id="radio3" type="radio" checked="checked" name="radio2">
                            <label for="radio3">스마트 가이드</label>
                        </div>
                        <div class="radio selector-selectbox__common">
                            <input id="radio4" type="radio" name="radio2">
                            <label for="radio4">그리드</label>
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">그리드 설정</span>
                    </div>
                    <form class="size__list">
                        <div class="size__item">
                            <label for="size">크기(px)</label>
                            <input id="size" type="number" value="10">
                        </div>
                        <div class="size__item">
                            <label for="padding">패딩(px)</label>
                            <input id="padding" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_width">가로 오프셋(px)</label>
                            <input id="offset_width" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_heigth">세로 오프셋(px)</label>
                            <input id="offset_height" type="number" value="0">
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">맞추기</span>
                    </div>
                    <form class="selector-selectbox">
                        <div class="radio selector-selectbox__common">
                            <input id="radio3" type="radio" checked="checked" name="radio2">
                            <label for="radio3">스마트 가이드</label>
                        </div>
                        <div class="radio selector-selectbox__common">
                            <input id="radio4" type="radio" name="radio2">
                            <label for="radio4">그리드</label>
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">그리드 설정</span>
                    </div>
                    <form class="size__list">
                        <div class="size__item">
                            <label for="size">크기(px)</label>
                            <input id="size" type="number" value="10">
                        </div>
                        <div class="size__item">
                            <label for="padding">패딩(px)</label>
                            <input id="padding" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_width">가로 오프셋(px)</label>
                            <input id="offset_width" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_heigth">세로 오프셋(px)</label>
                            <input id="offset_height" type="number" value="0">
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">맞추기</span>
                    </div>
                    <form class="selector-selectbox">
                        <div class="radio selector-selectbox__common">
                            <input id="radio3" type="radio" checked="checked" name="radio2">
                            <label for="radio3">스마트 가이드</label>
                        </div>
                        <div class="radio selector-selectbox__common">
                            <input id="radio4" type="radio" name="radio2">
                            <label for="radio4">그리드</label>
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">그리드 설정</span>
                    </div>
                    <form class="size__list">
                        <div class="size__item">
                            <label for="size">크기(px)</label>
                            <input id="size" type="number" value="10">
                        </div>
                        <div class="size__item">
                            <label for="padding">패딩(px)</label>
                            <input id="padding" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_width">가로 오프셋(px)</label>
                            <input id="offset_width" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_heigth">세로 오프셋(px)</label>
                            <input id="offset_height" type="number" value="0">
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">맞추기</span>
                    </div>
                    <form class="selector-selectbox">
                        <div class="radio selector-selectbox__common">
                            <input id="radio3" type="radio" checked="checked" name="radio2">
                            <label for="radio3">스마트 가이드</label>
                        </div>
                        <div class="radio selector-selectbox__common">
                            <input id="radio4" type="radio" name="radio2">
                            <label for="radio4">그리드</label>
                        </div>
                    </form>
                </div>
                <div class="sliding-box">
                    <div class="sliding-box__title">
                        <span class="sliding-box__title-text">그리드 설정</span>
                    </div>
                    <form class="size__list">
                        <div class="size__item">
                            <label for="size">크기(px)</label>
                            <input id="size" type="number" value="10">
                        </div>
                        <div class="size__item">
                            <label for="padding">패딩(px)</label>
                            <input id="padding" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_width">가로 오프셋(px)</label>
                            <input id="offset_width" type="number" value="0">
                        </div>
                        <div class="size__item">
                            <label for="offset_heigth">세로 오프셋(px)</label>
                            <input id="offset_height" type="number" value="0">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
</body>

</html>
