<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="scss/index.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-title">
                <h1 class="header__logo"><a>로고</a></h1>
                <div class="header__menu">
                    <h2 class="header__title">[Sample] Google Anlytics Marketing Website 사본</h2>
                    <ul class="gnb">
                        <li class="gnb__item">
                            <button>파일</button>
                            <ul class="gnb__item__sub">
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">공유...</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list gnb__item__sub__list--underline">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">보고서 설정</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="img/history.png" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">버전 기록</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="img/next.png" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text gnb__item__sub__list--underline">게시 설정</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">새 보고서</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">사본 만들기...</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list gnb__item__sub__list--underline">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">다른 형식으로 다운로드</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="img/next.png" alt="">
                                    </p>
                                </li>
                                <li class="gnb__item__sub__list">
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                    <span class="gnb__item__sub__list__text">보고서 삽입</span>
                                    <p class="gnb__item__sub__list__icon">
                                        <img src="" alt="">
                                    </p>
                                </li>                                
                            </ul>
                        </li>
                        <li class="gnb__item"><button>수정</button></li>
                        <li class="gnb__item"><button>포기</button></li>
                        <li class="gnb__item"><button>삽입</button></li>
                        <li class="gnb__item"><button>페이지</button></li>
                        <li class="gnb__item"><button>정렬</button></li>
                        <li class="gnb__item"><button>리소스</button></li>
                        <li class="gnb__item"><button>도움말</button></li>
                    </ul>
                </div>
            </div>
            <div class="haeder-action">
                <button class="haeder-action__circle"></button>
                <button class="haeder-action__square haeder-action__undo">
                    <p class="haeder-action__icon">
                        <img src="img/undo.png" alt="">
                    </p>                    
                    재설정
                </button>
                <button class="haeder-action__square haeder-action__share">
                    <p class="haeder-action__icon">
                        <img src="img/user.png" alt="">
                    </p>
                    공유
                    <p class="haeder-action__dropdown">
                        <img src="img/down.png" alt="">
                    </p>
                </button>
                <button class="haeder-action__square haeder-action__vision">
                    <p class="haeder-action__icon">
                        <img src="img/vision.png" alt="">
                    </p>
                    보기
                </button>
                <button class="haeder-action__circle">
                    <span class="haeder-action__circle__dots"></span>
                    <span class="haeder-action__circle__dots"></span>
                    <span class="haeder-action__circle__dots"></span>
                </button>
                <div class="haeder-action__line"></div>
                <button class="haeder-action__question">
                    <img src="img/question.png" alt="">
                </button>
                <button class="haeder-action__more">
                    <img src="img/squares.png" alt="">
                </button>                         
                <button class="haeder-action__circle""></button>
            </div>
        </div>         
        <div class="header-tools">
            <ul class="lnb">
                <li class="lnb__item">
                    <button class="lnb__item--disabled">
                        <p class="lnb__icon">
                            <img src="img/undo.png" alt="">
                        </p>                    
                    </button>                    
                </li>
                <li class="lnb__item">
                    <button class="lnb__item--disabled">
                        <p class="lnb__icon lnb__icon--reverse">
                            <img src="img/undo.png" alt="">
                        </p>                             
                    </button>               
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/cursor.png" alt="">
                        </p>                                 
                    </button>           
                </li>                
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>                        
                        <p class="lnb__icon">
                            <img src="img/page.png" alt="">
                        </p> 
                        Add page         
                    </button>          
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>                        
                        <p class="lnb__icon">
                            <img src="img/database.png" alt="">
                        </p>      
                        데이터 추가              
                    </button>
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>                        
                        <p class="lnb__icon">
                            <img src="img/chart.png" alt="">
                        </p>
                        차트 추가
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>                        
                    </button>
                </li>                
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/line.png" alt="">
                        </p>
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>                        
                    </button>
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>                        
                        <p class="lnb__icon">
                            <img src="img/settings.png" alt="">
                        </p>
                        컨트롤 추가
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>
                    </button>
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon lnb__icon--reverse">
                            <img src="img/next.png" alt="">
                        </p>
                        <p class="lnb__icon">
                            <img src="img/next.png" alt="">
                        </p>                        
                    </button>
                </li>                
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/image.png" alt="">
                        </p>
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>                        
                    </button>
                </li>
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/text.png" alt="">
                        </p>                        
                    </button>
                </li>
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/line.png" alt="">
                        </p>
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>                        
                    </button>
                </li>
                <li class="lnb__item">
                    <button>
                        <p class="lnb__icon">
                            <img src="img/shapes.png" alt="">
                        </p>
                        <p class="lnb__dropdown">
                            <img src="img/down.png" alt="">
                        </p>                        
                    </button>
                </li>
                <li class="lnb__item">
                    <span class="lnb__line"></span>
                </li>
                <li class="lnb__item"><button>테마 및 레이아웃</button></li>
            </ul>
        </div>   
    </header>
    <main>
        <section class="section_left">
            <div class="blank">IMG</div>
        </section>
        <section class="section--right">
            <h3>테마 및 레이아웃</h3>
            <ul class="section_option">
                <li><button>테마</button></li>
                <li class="selected"><button>레이아웃</button></li>
            </ul>
            <div class=" sectionbox viewmode">
                <span>보기모드</span>
                <ul>
                    <li>
                        헤더 공개 상태
                        <div class="modelist">
                            항상표시
                            <p class="option">
                                <img src="img/down.png" alt="">
                            </p>
                        </div>
                    </li>
                    <li>
                        탐색유형
                        <div class="modelist">
                            왼쪽
                            <p class="option">
                                <img src="img/down.png" alt="">
                            </p>
                        </div>
                    </li>
                    <li>
                        표시모드
                        <form>
                            <label for="circlebox">
                                <input type="radio" class="cb">폭에 맞춤
                            </label>
                            <label  for="circlebox">
                                <input type="radio" class="cb" checked>실제크기
                            </label>
                            <label  for="squarebox">
                                <input type="checkbox" class="sb" checked>여백 있음
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="sectionbox canvassize">
                <div class="canvassize_title">
                    <span>캔버스크기</span>   
                    <p class="question">
                        <img src="img/question.png" alt="">
                    </p>  
                </div>         
                <div class="sizelist">
                    <div class="sizelist_mode">
                        US Letter(4:3)-세로모드
                        <p class="option">
                            <img src="img/down.png" alt="">
                        </p>
                    </div>
                    <ul class="sizelist_wh">
                        <li>
                            너비(px)
                            <span>900</span>
                        </li>
                        <li>
                            높이(px)
                            <span>1200</span>
                        </li>
                    </ul>
                </div>      
            </div>
            <div class="sectionbox fitting">
                <span>맞추기</span>
                <form>
                    <label for="circlebox">
                        <input type="radio" class="cb">스마트 가이드
                    </label>
                    <label  for="circlebox">
                        <input type="radio" class="cb" checked>그리드
                    </label>
                </form>
            </div>
            <div class="sectionbox">
                <span>그리드 설정</span>
                <ul class="gridsetting">
                    <li>
                        크기(px)
                        <span>10</span>
                    </li>
                    <li>
                        패딩(px)
                        <span>0</span>
                    </li>
                    <li>
                        가로 오프셋(px)
                        <span>0</span>
                    </li>
                    <li>
                        세로 오프셋(px)
                        <span>0</span>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>