header {
  .header {
    @include flex(space-between, center);
  }
  .header-title {
    @include flex(flex-start, center);
    .header__logo {
      width: 25px;
      height: 25px;
    }
    .header__menu {
      .gnb {
        @include flex(flex-start, center);
      }
    }
  }
  .haeder-action {
    @include flex(flex-end, center);
    .haeder-action__circle {
      width: 25px;
      height: 25px;
      @include flex(center, center);
      flex-direction: column;
    }
    .haeder-action__square {
      width: 60px;
      height: 25px;
    }
    .haeder-action__square .haeder-action__icon {
      width: 10px;
      height: 10px;
    }
    .haeder-action__undo {
      @include flex(center, center);
    }
    .haeder-action__share {
      @include flex(center, center);
      width: 65px;
    }
    .haeder-action__share .haeder-action__dropdown {
      width: 10px;
      height: 25px;
      @include flex(center, center);
    }
    .haeder-action__vision {
      @include flex(center, center);
    }
    .haeder-action__question {
      width: 20px;
      height: 20px;
    }
    .haeder-action__more {
      width: 14px;
      height: 14px;
    }
  }
  .header-tools {
    .lnb {
      @include flex(flex-start, center);
      .lnb__item {
        @include flex(flex-start, center);
      }
      .lnb__item button {
        @include flex(flex-start, center);
      }
      .lnb__icon {
        width: 17px;
        height: 17px;
        @include flex(center, center);
      }
      .lnb__line {
        width: 1px;
        height: 15px;
      }
      .lnb__dropdown {
        width: 6px;
        height: 15px;
        @include flex(center, center);
      }
    }
  }
}
