.header--left {
  h1 {
    background-color: cornflowerblue;
    font-size: 0;
  }
  div {
    margin-left: 10px;
    h2 {
      font-size: 16px;
      font-weight: 500;
    }
    .header--left__gnb .header--left__gnb__item {
      font-size: 8px;
      margin-right: 10px;
      padding: 3px 0;
    }
    .header--left__gnb .header--left__gnb__item button {
      @include btnStyle(none, none);
    }
  }
}
