.header-tools {
  border-top: $border-eee;
  border-bottom: 2px solid #ddd;
  .lnb {
    .lnb__item {
      margin: 4px;
      color: #777;
    }
    .lnb__item button {
      padding: 1px;
      border-radius: 2px;
      font-size: 8px;
      @include btnStyle(none, none);
      &:hover {
        background: $hoverStyle;
      }
      &.lnb__item--disabled {
        @include inactive;
      }
    }
    .lnb__icon {
      padding: 3px;
      border-radius: 2px;
    }
    .lnb__icon {
      &.lnb__icon--reverse {
        transform: rotateY(180deg) scaleY(-1);
      }
    }
    .lnb__icon img {
      vertical-align: top;
      width: 100%;
    }
    .lnb__line {
      background-color: #ddd;
    }
    .lnb__dropdown {
      margin-left: 2px;
      padding-right: 2px;
    }
    .lnb__dropdown img {
      width: 100%;
    }
  }
}
