.haeder-action {
  button {
    @include headerRightStyle(none);
    font-size: 4px;
  }
  .haeder-action__circle {
    border-radius: 100%;
    @include btnStyle(#ddd, none);
  }
  .haeder-action__circle__dots {
    margin: 1px 0;
    width: 2px;
    height: 2px;
    background-color: cornflowerblue;
  }
  .haeder-action__square {
    @include btnStyle(none, $border-eee);
    border-radius: 3px;
  }
  .haeder-action__square .haeder-action__icon {
    margin-right: 5px;
  }
  .haeder-action__square .haeder-action__icon img {
    width: 100%;
  }
  .haeder-action__undo {
    @include inactive;
  }
  .haeder-action__share {
    color: cornflowerblue;
    padding-left: 5px;
  }
  .haeder-action__share .haeder-action__dropdown {
    border-left: $border-eee;
    padding-left: 2px;
    margin-left: 8px;
  }
  .haeder-action__share .haeder-action__dropdown img {
    width: 80%;
  }
  .haeder-action__vision {
    background-color: cornflowerblue;
    color: #fff;
  }
  .haeder-action__line {
    @include headerRightStyle(#eee);
    width: 1px;
    height: 25px;
    opacity: 1;
  }
  .haeder-action__question {
    @include btnStyle(none, none);
    border-radius: 100%;
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
  .haeder-action__more {
    @include btnStyle(none, none);
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
}
