header {
  .header {
    @include flex(space-between, center);
  }
  .header-title {
    @include flex(flex-start, center);
    .header__logo {
      width: 25px;
      height: 25px;
    }
    .header__menu {
      .gnb {
        @include flex(flex-start, center);
      }
    }
  }
  .haeder-action {
    @include flex(flex-end, center);
    .haeder-action--circle {
      width: 25px;
      height: 25px;
      @include flex(center, center);
      flex-direction: column;
    }
    .haeder-action--square {
      width: 60px;
      height: 25px;
    }
    .haeder-action--square .haeder-action--icon {
      width: 10px;
      height: 10px;
    }
    .haeder-action--undo {
      @include flex(center, center);
    }
    .haeder-action--share {
      @include flex(center, center);
      width: 65px;
    }
    .haeder-action--dropdown {
      width: 10px;
      height: 25px;
      @include flex(center, center);
    }
    .haeder-action--vision {
      @include flex(center, center);
    }
    .haeder-action--question {
      width: 20px;
      height: 20px;
    }
    .haeder-action--more {
      width: 14px;
      height: 14px;
    }
  }
  .header-tools {
    .lnb {
      @include flex(flex-start, center);
      .lnb__list {
        @include flex(flex-start, center);
      }
      .lnb__list button {
        @include flex(flex-start, center);
      }
      .lnb__list--icon {
        width: 17px;
        height: 17px;
        @include flex(center, center);
      }
      .lnb__list--dropdown {
        width: 6px;
        height: 15px;
        @include flex(center, center);
      }
    }
  }
}
