.section_option {
  li button {
    @include btnStyle(none, none);
    padding: 10px 0;
    font-size: 8px;
    text-align: center;
    border-bottom: $border-eee;
  }
  li.selected {
    color: cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
  }
}
