.canvassize {
  padding-bottom: 20px;
  .canvassize_title {
    span {
      margin-right: 10px;
    }
    .question {
      border-radius: 100%;
      background-color: rgba($color: #eee, $alpha: 0.3);
    }
    .question img {
      vertical-align: top;
      opacity: 0.2;
    }
  }
}
