.section--right {
  h3 {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    border-bottom: $border-eee;
  }
  .sectionbox {
    @include sectionBox;
    span {
      @include sectionTitle;
    }
  }
}
