@mixin flex($a, $b) {
  display: flex;
  justify-content: $a;
  align-items: $b;
}

@mixin btnStyle($a, $b) {
  background: $a;
  border: $b;
  cursor: pointer;
}
@mixin headerRightStyle($a) {
  margin-right: 10px;
  background: $a;
}
@mixin option($a, $b) {
  margin-left: $a;
  padding-left: $a;
}

@mixin inactive() {
  cursor: Default;
  opacity: 0.5;
  background: none;
}

@mixin sectionTitle {
  color: #777;
  font-size: 8px;
}
@mixin sectionBox {
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #eee;
}
@mixin sectionInPadding {
  padding: 15px 0 15px 15px;
}

$border-eee: 1px solid #eee;
$hoverStyle: rgba(
  $color: cornflowerblue,
  $alpha: 0.3,
);
