@import "_mixin.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
h1,
h2,
span,
div {
  letter-spacing: -0.5px;
}

header {
  .header_top {
    @include flex(space-between, center);
    border-bottom: 1px solid #eee;
  }
  .header_left {
    @include flex(flex-start, center);
    h1 {
      width: 25px;
      height: 25px;
      background-color: cornflowerblue;
      font-size: 0;
    }
    div {
      margin-left: 10px;
      h2 {
        font-size: 16px;
        font-weight: 500;
      }
      ul {
        @include flex(flex-start, center);
      }
      ul li {
        font-size: 8px;
        margin-right: 10px;
        padding: 3px 0;
      }
    }
  }
  .header_right {
    @include flex(flex-end, center);
    div {
      margin-right: 10px;
      font-size: 4px;
    }
    .circle {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color: #eee;
      @include flex(center, center);
      flex-direction: column;
    }
    .circle .dots {
      margin: 1px 0;
      width: 2px;
      height: 2px;
      background-color: cornflowerblue;
    }
    .square {
      width: 60px;
      height: 25px;
      border: 1px solid #eee;
      border-radius: 3px;
    }
    .square .icons {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
    .square .icons img {
      width: 100%;
    }
    .undo {
      @include flex(center, center);
      color: #ddd;
    }
    .undo img {
      opacity: 0.4;
    }
    .share {
      @include flex(center, center);
      color: cornflowerblue;
      padding-left: 5px;
      width: 65px;
    }
    .share .option {
      border-left: 1px solid #eee;
      width: 10px;
      height: 25px;
      padding-left: 2px;
      margin-left: 8px;
      @include flex(center, center);
    }
    .share .option img {
      width: 80%;
    }
    .vision {
      @include flex(center, center);
      background-color: cornflowerblue;
      color: #fff;
    }
    .line {
      width: 1px;
      height: 25px;
      background-color: #eee;
      opacity: 0.5;
    }
    .question {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
        opacity: 0.5;
      }
    }
    .squares {
      width: 14px;
      height: 14px;
      img {
        width: 100%;
        opacity: 0.5;
      }
    }
  }
  .tools {
    border-bottom: 2px solid #ddd;
    ul {
      @include flex(flex-start, center);
      li {
        margin: 4px;
        @include flex(flex-start, center);
        font-size: 4px;
        color: #777;
        padding: 1px 0;
      }
      li.active {
        background-color: rgba($color: cornflowerblue, $alpha: 0.3);
        border-radius: 2px;
      }
      li.disable {
        opacity: 0.5;
      }
      .icons {
        width: 17px;
        height: 17px;
        padding: 3px;
        border-radius: 2px;
        @include flex(center, center);
      }
      .icons.reverse {
        transform: rotateY(180deg) scaleY(-1);
      }
      .icons img {
        vertical-align: top;
        width: 100%;
      }
      .line {
        width: 1px;
        height: 15px;
        background-color: #eee;
      }
      .next img {
        width: 70%;
      }
      .option {
        width: 6px;
        height: 15px;
        margin-left: 2px;
        padding-right: 2px;
        @include flex(center, center);
      }
      .option img {
        width: 100%;
      }
    }
  }
}
main {
  @include flex(space-between, flex-start);
  .section_left {
    width: 80%;
    height: 100vh;
    background-color: #eee;
    overflow-y: scroll;
    padding-top: 20px;
    @include flex(center, flex-start);
    .blank {
      width: 60%;
      height: 80vh;
      background-color: aliceblue;
    }
  }
  .section_right {
    width: 20%;
    h3 {
      font-weight: 500;
      font-size: 14px;
      padding: 10px;
      border-bottom: 1px solid #eee;
    }
    .section_option {
      width: 100%;
      @include flex(center, center);
      li {
        padding: 10px 0;
        font-size: 8px;
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #eee;
      }
      li.selected {
        color: cornflowerblue;
        border-bottom: 2px solid cornflowerblue;
      }
    }
    .sectionbox {
      @include sectionBox;
      span {
        @include sectionTitle;
      }
    }
    .viewmode {
      ul {
        padding: 15px 0 15px 15px;
      }
      ul li {
        font-size: 6px;
        color: #777;
        margin-bottom: 10px;
      }
      ul li .modelist {
        @include flex(space-between, center);
        width: 100%;
        margin-left: 5px;
        padding: 10px 0 5px 0;
        border-bottom: 1px solid #eee;
      }
      ul li .modelist .option {
        width: 20px;
        padding-right: 15px;
      }
      ul li .modelist .option img {
        width: 100%;
      }
      ul li form {
        @include flex(flex-start, center);
        flex-wrap: wrap;
      }
      ul li form label {
        width: 50%;
        margin-top: 20px;
        // background-color: aqua;
        @include flex(flex-start, center);
      }
      ul li form label input {
        margin-right: 10px;
      }
    }
    .canvassize {
      padding-bottom: 20px;
      .canvassize_title {
        @include flex(flex-start, center);
        span {
          margin-right: 10px;
        }
        .question {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-color: rgba($color: #eee, $alpha: 0.3);
        }
        .question img {
          vertical-align: top;
          opacity: 0.2;
          width: 100%;
        }
      }
    }
    .sizelist {
      padding: 15px 0 15px 15px;
      .sizelist_mode {
        font-size: 6px;
        color: #777;
        padding-bottom: 5px;
        @include flex(space-between, center);
        border-bottom: 1px solid #eee;
      }
      .sizelist_mode .option {
        width: 20px;
        padding: 0 15px 5px 0;
      }
      .sizelist_mode .option img {
        width: 100%;
      }
      .sizelist_wh {
        width: 100%;
        @include flex(space-between, center);
      }
      .sizelist_wh li {
        font-size: 6px;
        width: 45%;
        color: #777;
      }
      .sizelist_wh li span {
        display: block;
        width: 100%;
        color: #333;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        padding: 5px 0;
      }
    }
    .fitting {
      form {
        padding: 15px 0 15px 15px;
        @include flex(flex-start, center);
      }
      form label {
        width: 50%;
        @include flex(flex-start, center);
        font-size: 6px;
        color: #777;
      }
      form label input {
        margin-right: 10px;
      }
    }
    .gridsetting {
      @include flex(space-between, center);
      flex-wrap: wrap;
      padding: 15px 0 15px 15px;
      li {
        font-size: 4px;
        width: 45%;
        color: #777;
        margin-bottom: 10px;
      }
      li span {
        display: block;
        width: 100%;
        color: #333;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        padding: 5px 0;
      }
    }
  }
}
