* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
span,
div {
  letter-spacing: -0.5px;
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_left h1 {
  width: 25px;
  height: 25px;
  background-color: cornflowerblue;
  font-size: 0;
}

header .header_left div {
  margin-left: 10px;
}

header .header_left div h2 {
  font-size: 16px;
  font-weight: 500;
}

header .header_left div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_left div ul li {
  font-size: 8px;
  margin-right: 10px;
  padding: 3px 0;
}

header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_right div {
  margin-right: 10px;
  font-size: 4px;
}

header .header_right .circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header_right .circle .dots {
  margin: 1px 0;
  width: 2px;
  height: 2px;
  background-color: cornflowerblue;
}

header .header_right .square {
  width: 60px;
  height: 25px;
  border: 1px solid #eee;
  border-radius: 3px;
}

header .header_right .square .icons {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

header .header_right .square .icons img {
  width: 100%;
}

header .header_right .undo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ddd;
}

header .header_right .undo img {
  opacity: 0.4;
}

header .header_right .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: cornflowerblue;
  padding-left: 5px;
  width: 65px;
}

header .header_right .share .option {
  border-left: 1px solid #eee;
  width: 10px;
  height: 25px;
  padding-left: 2px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_right .share .option img {
  width: 80%;
}

header .header_right .vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cornflowerblue;
  color: #fff;
}

header .header_right .line {
  width: 1px;
  height: 25px;
  background-color: #eee;
  opacity: 0.5;
}

header .header_right .question {
  width: 20px;
  height: 20px;
}

header .header_right .question img {
  width: 100%;
  opacity: 0.5;
}

header .header_right .squares {
  width: 14px;
  height: 14px;
}

header .header_right .squares img {
  width: 100%;
  opacity: 0.5;
}

header .tools {
  border-bottom: 2px solid #ddd;
}

header .tools ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tools ul li {
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4px;
  color: #777;
  padding: 1px 0;
}

header .tools ul li.active {
  background-color: rgba(100, 149, 237, 0.3);
  border-radius: 2px;
}

header .tools ul li.disable {
  opacity: 0.5;
}

header .tools ul .icons {
  width: 17px;
  height: 17px;
  padding: 3px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tools ul .icons.reverse {
  -webkit-transform: rotateY(180deg) scaleY(-1);
          transform: rotateY(180deg) scaleY(-1);
}

header .tools ul .icons img {
  vertical-align: top;
  width: 100%;
}

header .tools ul .line {
  width: 1px;
  height: 15px;
  background-color: #eee;
}

header .tools ul .next img {
  width: 70%;
}

header .tools ul .option {
  width: 6px;
  height: 15px;
  margin-left: 2px;
  padding-right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tools ul .option img {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .section_left {
  width: 80%;
  height: 100vh;
  background-color: #eee;
  overflow-y: scroll;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .section_left .blank {
  width: 60%;
  height: 80vh;
  background-color: aliceblue;
}

main .section_right {
  width: 20%;
}

main .section_right h3 {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

main .section_right .section_option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_right .section_option li {
  padding: 10px 0;
  font-size: 8px;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #eee;
}

main .section_right .section_option li.selected {
  color: cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
}

main .section_right .sectionbox {
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #eee;
}

main .section_right .sectionbox span {
  color: #777;
  font-size: 8px;
}

main .section_right .viewmode ul {
  padding: 15px 0 15px 15px;
}

main .section_right .viewmode ul li {
  font-size: 6px;
  color: #777;
  margin-bottom: 10px;
}

main .section_right .viewmode ul li .modelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 5px;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #eee;
}

main .section_right .viewmode ul li .modelist .option {
  width: 20px;
  padding-right: 15px;
}

main .section_right .viewmode ul li .modelist .option img {
  width: 100%;
}

main .section_right .viewmode ul li form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .section_right .viewmode ul li form label {
  width: 50%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_right .viewmode ul li form label input {
  margin-right: 10px;
}

main .section_right .canvassize {
  padding-bottom: 20px;
}

main .section_right .canvassize .canvassize_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_right .canvassize .canvassize_title span {
  margin-right: 10px;
}

main .section_right .canvassize .canvassize_title .question {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(238, 238, 238, 0.3);
}

main .section_right .canvassize .canvassize_title .question img {
  vertical-align: top;
  opacity: 0.2;
  width: 100%;
}

main .section_right .sizelist {
  padding: 15px 0 15px 15px;
}

main .section_right .sizelist .sizelist_mode {
  font-size: 6px;
  color: #777;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

main .section_right .sizelist .sizelist_mode .option {
  width: 20px;
  padding: 0 15px 5px 0;
}

main .section_right .sizelist .sizelist_mode .option img {
  width: 100%;
}

main .section_right .sizelist .sizelist_wh {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_right .sizelist .sizelist_wh li {
  font-size: 6px;
  width: 45%;
  color: #777;
}

main .section_right .sizelist .sizelist_wh li span {
  display: block;
  width: 100%;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

main .section_right .fitting form {
  padding: 15px 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section_right .fitting form label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6px;
  color: #777;
}

main .section_right .fitting form label input {
  margin-right: 10px;
}

main .section_right .gridsetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px 15px;
}

main .section_right .gridsetting li {
  font-size: 4px;
  width: 45%;
  color: #777;
  margin-bottom: 10px;
}

main .section_right .gridsetting li span {
  display: block;
  width: 100%;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
/*# sourceMappingURL=index.css.map */