* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
span,
div {
  letter-spacing: -0.5px;
}

img {
  vertical-align: top;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title .header__logo {
  width: 25px;
  height: 25px;
}

header .header-title .header__menu .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action__circle {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .haeder-action .haeder-action__square {
  width: 60px;
  height: 25px;
}

header .haeder-action .haeder-action__square .haeder-action__icon {
  width: 10px;
  height: 10px;
}

header .haeder-action .haeder-action__undo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
}

header .haeder-action .haeder-action__share .haeder-action__dropdown {
  width: 10px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action__vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action__question {
  width: 20px;
  height: 20px;
}

header .haeder-action .haeder-action__more {
  width: 14px;
  height: 14px;
}

header .header-tools .lnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__icon {
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__line {
  width: 1px;
  height: 15px;
}

header .header-tools .lnb .lnb__dropdown {
  width: 6px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title .header__logo {
  background-color: cornflowerblue;
  font-size: 0;
}

.header-title .header__menu {
  margin-left: 10px;
}

.header-title .header__menu .header__title {
  font-size: 16px;
  font-weight: 500;
}

.header-title .header__menu .gnb .gnb__item {
  font-size: 8px;
  margin-right: 10px;
  padding: 3px 0;
  position: relative;
}

.header-title .header__menu .gnb__item button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-title .header__menu .gnb__item button:hover + .gnb__item__sub {
  display: block;
}

.header-title .header__menu .gnb__item .gnb__item__sub {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 3px 0 #ddd;
          box-shadow: 1px 1px 3px 0 #ddd;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list .gnb__item__sub__list__icon {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list .gnb__item__sub__list__icon img {
  width: 100%;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list .gnb__item__sub__list__text {
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list.gnb__item__sub__list--underline {
  border-bottom: 1px solid #eee;
}

.header-title .header__menu .gnb__item .gnb__item__sub .gnb__item__sub__list:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.haeder-action button {
  margin-right: 10px;
  background: none;
  font-size: 4px;
}

.haeder-action .haeder-action__circle {
  border-radius: 100%;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action__circle__dots {
  margin: 1px 0;
  width: 2px;
  height: 2px;
  background-color: cornflowerblue;
}

.haeder-action .haeder-action__square {
  background: none;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 3px;
}

.haeder-action .haeder-action__square .haeder-action__icon {
  margin-right: 5px;
}

.haeder-action .haeder-action__square .haeder-action__icon img {
  width: 100%;
}

.haeder-action .haeder-action__undo {
  cursor: Default;
  opacity: 0.5;
  background: none;
}

.haeder-action .haeder-action__share {
  color: cornflowerblue;
  padding-left: 5px;
}

.haeder-action .haeder-action__share .haeder-action__dropdown {
  border-left: 1px solid #eee;
  padding-left: 2px;
  margin-left: 8px;
}

.haeder-action .haeder-action__share .haeder-action__dropdown img {
  width: 80%;
}

.haeder-action .haeder-action__vision {
  background-color: cornflowerblue;
  color: #fff;
}

.haeder-action .haeder-action__line {
  margin-right: 10px;
  background: #eee;
  width: 1px;
  height: 25px;
  opacity: 1;
}

.haeder-action .haeder-action__question {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.haeder-action .haeder-action__question img {
  width: 100%;
  opacity: 0.5;
}

.haeder-action .haeder-action__more {
  background: none;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action__more img {
  width: 100%;
  opacity: 0.5;
}

.header-tools {
  border-top: 1px solid #eee;
  border-bottom: 2px solid #ddd;
}

.header-tools .lnb .lnb__item {
  margin: 4px;
  color: #777;
}

.header-tools .lnb .lnb__item button {
  padding: 1px;
  border-radius: 2px;
  font-size: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-tools .lnb .lnb__item button:hover {
  background: rgba(100, 149, 237, 0.3);
}

.header-tools .lnb .lnb__item button.lnb__item--disabled {
  cursor: Default;
  opacity: 0.5;
  background: none;
}

.header-tools .lnb .lnb__icon {
  padding: 3px;
  border-radius: 2px;
}

.header-tools .lnb .lnb__icon.lnb__icon--reverse {
  -webkit-transform: rotateY(180deg) scaleY(-1);
          transform: rotateY(180deg) scaleY(-1);
}

.header-tools .lnb .lnb__icon img {
  vertical-align: top;
  width: 100%;
}

.header-tools .lnb .lnb__line {
  background-color: #ddd;
}

.header-tools .lnb .lnb__dropdown {
  margin-left: 2px;
  padding-right: 2px;
}

.header-tools .lnb .lnb__dropdown img {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .section_left {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .section_left .blank {
  width: 60%;
  height: 80vh;
}

main .section--right {
  width: 20%;
}

main .section--right .section_option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .section_option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

main .section--right .viewmode ul li .modelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .section--right .viewmode ul li .modelist .option {
  width: 20px;
}

main .section--right .viewmode ul li .modelist .option img {
  width: 100%;
}

main .section--right .viewmode ul li form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .section--right .viewmode ul li form label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .canvassize .canvassize_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .canvassize .canvassize_title .question {
  width: 15px;
  height: 15px;
}

main .section--right .canvassize .canvassize_title .question img {
  width: 100%;
}

main .section--right .sizelist .sizelist_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .sizelist .sizelist_mode .option {
  width: 20px;
}

main .section--right .sizelist .sizelist_mode .option img {
  width: 100%;
}

main .section--right .sizelist .sizelist_wh {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .sizelist .sizelist_wh li {
  width: 45%;
}

main .section--right .sizelist .sizelist_wh li span {
  display: block;
  width: 100%;
}

main .section--right .fitting form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .fitting form label {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section--right .gridsetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .section--right .gridsetting li {
  width: 45%;
}

main .section--right .gridsetting li span {
  display: block;
  width: 100%;
}

.section_left {
  height: 100vh;
  background-color: #eee;
  overflow-y: scroll;
  padding-top: 20px;
}

.section_left .blank {
  background-color: aliceblue;
}

.section--right h3 {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.section--right .sectionbox {
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #eee;
}

.section--right .sectionbox span {
  color: #777;
  font-size: 8px;
}

.section_option li {
  border-bottom: 1px solid #eee;
}

.section_option li button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 8px;
  text-align: center;
}

.section_option li.selected {
  color: cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
}

.canvassize {
  padding-bottom: 20px;
}

.canvassize .canvassize_title span {
  margin-right: 10px;
}

.canvassize .canvassize_title .question {
  border-radius: 100%;
  background-color: rgba(238, 238, 238, 0.3);
}

.canvassize .canvassize_title .question img {
  vertical-align: top;
  opacity: 0.2;
}

.viewmode ul {
  padding: 15px 0 15px 15px;
}

.viewmode ul li {
  font-size: 6px;
  color: #777;
  margin-bottom: 10px;
}

.viewmode ul li .modelist {
  margin-left: 5px;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #eee;
}

.viewmode ul li .modelist .option {
  padding-right: 15px;
}

.viewmode ul li form label {
  margin-top: 20px;
}

.viewmode ul li form label input {
  margin-right: 10px;
}

.sizelist {
  padding: 15px 0 15px 15px;
}

.sizelist .sizelist_mode {
  font-size: 6px;
  color: #777;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.sizelist .sizelist_mode .option {
  padding: 0 15px 5px 0;
}

.sizelist .sizelist_wh li {
  font-size: 6px;
  color: #777;
  margin-top: 8px;
}

.sizelist .sizelist_wh li span {
  display: block;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.gridsetting {
  padding: 15px 0 15px 15px;
}

.gridsetting li {
  font-size: 4px;
  color: #777;
  margin-bottom: 10px;
}

.gridsetting li span {
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.fitting form {
  padding: 15px 0 15px 15px;
}

.fitting form label {
  width: 45%;
  font-size: 6px;
  color: #777;
}

.fitting form label input {
  margin-right: 10px;
}
/*# sourceMappingURL=index.css.map */