* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
h1,
h2,
span,
div,
p,
span,
button,
input,
label {
  letter-spacing: -0.5px;
  color: #777;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
