.viewmode {
  ul {
    padding: 15px 0 15px 15px;
  }
  ul li {
    font-size: 6px;
    color: #777;
    margin-bottom: 10px;
  }
  ul li .modelist {
    margin-left: 5px;
    padding: 10px 0 5px 0;
    border-bottom: $border-eee;
  }
  ul li .modelist .option {
    padding-right: 15px;
  }
  ul li .modelist .option img {
  }
  ul li form {
  }
  ul li form label {
    margin-top: 20px;
  }
  ul li form label input {
    margin-right: 10px;
  }
}
