main {
  @include flex(space-between, flex-start);

  .workspace {
    width: 80%;
    height: 100vh;
  }
  .workspace-product {
    width: 60%;
    height: 80vh;
  }
  .sliding {
    width: 20%;
  }
}
