.gridsetting {
  @include flex(space-between, center);
  flex-wrap: wrap;
  padding: 15px 0 15px 15px;
  li {
    width: 45%;
    font-size: 4px;
    color: #777;
    margin-bottom: 10px;
  }
  li span {
    display: block;
    width: 100%;
    color: #333;
    font-size: 14px;
    border-bottom: $border-eee;
    padding: 5px 0;
  }
}
