* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
span,
div,
p,
span,
button,
input,
label {
  letter-spacing: -0.5px;
  color: #777;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title .header__logo {
  width: 25px;
  height: 25px;
}

header .header-title .header__menu .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .header-action__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action--circle {
  width: 25px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .haeder-action .haeder-action--square {
  width: 65px;
  height: 25px;
}

header .haeder-action .haeder-action--square .haeder-action--icon {
  width: 10px;
  height: 10px;
}

header .haeder-action .haeder-action--dropdown {
  width: 10px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action--question {
  width: 20px;
  height: 20px;
}

header .haeder-action .haeder-action--more {
  width: 14px;
  height: 14px;
}

header .header-tools .lnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__icon {
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__dropdown {
  width: 6px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title .header__logo {
  background-color: cornflowerblue;
  font-size: 0;
}

.header-title .header__menu {
  margin-left: 10px;
}

.header-title .header__menu .header__title {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
}

.header-title .header__menu .gnb .gnb__list {
  font-size: 8px;
  position: relative;
}

.header-title .header__menu .gnb__list button {
  padding: 3px 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-title .header__menu .gnb__list .gnb-sub {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 3px 0 #ddd;
          box-shadow: 1px 1px 3px 0 #ddd;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

.header-title .header__menu .gnb-sub.gnb__sub--open {
  display: block;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  width: 100%;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__icon {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__icon img {
  width: 100%;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__text {
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button.underline {
  border-bottom: 1px solid #eee;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.haeder-action button {
  margin-right: 10px;
  background: none;
  font-size: 4px;
}

.haeder-action .haeder-action--circle {
  border-radius: 100%;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action--dots {
  margin: 1px 0;
  width: 2px;
  height: 2px;
  background-color: cornflowerblue;
}

.haeder-action .haeder-action--square {
  background: none;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 3px;
}

.haeder-action .haeder-action--square .haeder-action--icon {
  margin-right: 5px;
}

.haeder-action .haeder-action--square .haeder-action--icon img {
  width: 100%;
}

.haeder-action .haeder-action--undo {
  cursor: Default;
  opacity: 0.5;
  background-color: transparent;
}

.haeder-action .haeder-action--share {
  color: cornflowerblue;
  padding-left: 5px;
}

.haeder-action .haeder-action--share .haeder-action--dropdown {
  border-left: 1px solid #eee;
  padding-left: 2px;
  margin-left: 8px;
}

.haeder-action .haeder-action--share .haeder-action--dropdown img {
  width: 80%;
}

.haeder-action .haeder-action--vision {
  background-color: cornflowerblue;
  color: #fff;
}

.haeder-action .haeder-action--question {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.haeder-action .haeder-action--question img {
  width: 100%;
  opacity: 0.5;
}

.haeder-action .haeder-action--more {
  background: none;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action--more img {
  width: 100%;
  opacity: 0.5;
}

.haeder-action .sideline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.haeder-action .sideline::before {
  content: "";
  display: block;
  clear: both;
  margin-right: 10px;
  background: #eee;
  width: 1px;
  height: 25px;
  opacity: 1;
}

.header-tools {
  border-top: 1px solid #eee;
  border-bottom: 2px solid #ddd;
}

.header-tools .lnb .lnb__list {
  margin: 4px 0;
  color: #777;
}

.header-tools .lnb .lnb__list::after {
  content: "";
  clear: both;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ddd;
}

.header-tools .lnb .lnb__list:nth-last-of-type(1)::after {
  display: none;
}

.header-tools .lnb .lnb__list button {
  padding: 1px 4px;
  margin: 0 2px;
  border-radius: 2px;
  font-size: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-tools .lnb .lnb__list button:hover {
  background: rgba(100, 149, 237, 0.3);
}

.header-tools .lnb .lnb__list button.lnb__list--disable {
  cursor: Default;
  opacity: 0.5;
  background-color: transparent;
}

.header-tools .lnb .lnb__icon {
  padding: 3px;
  border-radius: 2px;
}

.header-tools .lnb .lnb__icon.lnb__icon--reverse {
  -webkit-transform: rotateY(180deg) scaleY(-1);
          transform: rotateY(180deg) scaleY(-1);
}

.header-tools .lnb .lnb__icon img {
  vertical-align: top;
  width: 100%;
}

.header-tools .lnb .lnb__dropdown {
  margin-left: 2px;
  padding-right: 2px;
}

.header-tools .lnb .lnb__dropdown img {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
  height: 100%;
}

main .workspace {
  width: 80%;
  height: 100%;
  overflow-y: auto;
}

main .workspace-product {
  width: 60%;
  height: 1000px;
}

main .sliding {
  width: 20%;
  height: 100%;
  overflow-y: auto;
}

.workspace {
  background-color: #eee;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workspace .workspace-product {
  background-color: aliceblue;
}

.sliding__title {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.sliding-option__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-option__list .sliding-option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border-bottom: 1px solid #eee;
}

.sliding-option__list .sliding-option__item button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  font-size: 8px;
  text-align: center;
}

.sliding-option__list .sliding-option__item.sliding-option__item--selected {
  color: cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
}

.sliding-box {
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #eee;
}

.sliding-box .sliding-box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-box .sliding-box__title .sliding-box__title-text {
  color: #777;
  font-size: 8px;
  margin-right: 10px;
}

.sliding-box .sliding-box__title .sliding-box__title-icon {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(238, 238, 238, 0.3);
}

.sliding-box .sliding-box__title .sliding-box__title-icon img {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
}

.sliding-box .size__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5px;
}

.sliding-box .size__list .size__item {
  width: 45%;
  padding: 5px 0;
}

.sliding-box .size__list .size__item label {
  font-size: 8px;
  width: 100%;
}

.sliding-box .size__list .size__item input {
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-left: 5px;
  line-height: 2.5;
  outline-style: none;
}

.selector-selectbox {
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selector-selectbox .selector-selectbox__common {
  padding-left: 20px;
  position: relative;
  width: 45%;
}

.selector-selectbox .selector-selectbox__common input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.selector-selectbox .selector-selectbox__common label {
  cursor: pointer;
}

.selector-selectbox .selector-selectbox__common label::before {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #eee;
}

.selector-selectbox .selector-selectbox__common label::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  cursor: pointer;
}

.selector-selectbox .selector-selectbox__common input:checked + label::before {
  background-color: cornflowerblue;
  border: none;
}

.selector-selectbox .checkbox label::after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: 2px solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.selector-selectbox .radio {
  margin: 10px 0;
}

.selector-selectbox .radio label::before {
  left: -1px;
  border-radius: 50%;
}

.selector-selectbox .radio label::after {
  left: 4px;
  top: 4px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
}

.selector-container {
  padding: 5px 0;
}

.selector-container .selector-container__title {
  width: 100%;
  font-size: 8px;
}

.selector-container .selector-container__select .selector-container__button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.selector-container .selector-container__select .selector-container__button .selector-container__subtitle {
  width: 90%;
  text-align: left;
  font-size: 8px;
  padding: 5px 0 5px 5px;
}

.selector-container .selector-container__select .selector-container__button .selector-container__icon {
  width: 10%;
}

.selector-container .selector-container__select .selector-container__button .selector-container__icon img {
  width: 30%;
}

.selector-container .selector-container__select .selector-option__list {
  display: none;
  width: 100%;
  border: 1px solid #eee;
  margin: 4px 0;
}

.selector-container .selector-container__select .selector-option__list .selector-option__item button {
  font-size: 8px;
  line-height: 3;
  text-align: left;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.selector-container .selector-container__select .selector-option__list .selector-option__item button:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.selector-container .selector-container__select .selector-option__list.selector-option__list--open {
  display: block;
}
/*# sourceMappingURL=index.css.map */