* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
span,
div,
p,
span,
button,
input,
label {
  letter-spacing: -0.5px;
  color: #777;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title .header__logo {
  width: 25px;
  height: 25px;
}

header .header-title .header__menu .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .header-action__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action--circle {
  width: 25px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .haeder-action .haeder-action--square {
  width: 65px;
  height: 25px;
}

header .haeder-action .haeder-action--square .haeder-action--icon {
  width: 10px;
  height: 10px;
}

header .haeder-action .haeder-action--dropdown {
  width: 10px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haeder-action .haeder-action--question {
  width: 20px;
  height: 20px;
}

header .haeder-action .haeder-action--more {
  width: 14px;
  height: 14px;
}

header .header-tools .lnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__icon {
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-tools .lnb .lnb__dropdown {
  width: 6px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title .header__logo {
  background-color: cornflowerblue;
  font-size: 0;
}

.header-title .header__menu {
  margin-left: 10px;
}

.header-title .header__menu .header__title {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
}

.header-title .header__menu .gnb .gnb__list {
  font-size: 8px;
  position: relative;
}

.header-title .header__menu .gnb__list button {
  padding: 3px 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-title .header__menu .gnb__list .gnb-sub {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 3px 0 #ddd;
          box-shadow: 1px 1px 3px 0 #ddd;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

.header-title .header__menu .gnb-sub.gnb__sub--open {
  display: block;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  width: 100%;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__icon {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__icon img {
  width: 100%;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button .gnb-sub__text {
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button.underline {
  border-bottom: 1px solid #eee;
}

.header-title .header__menu .gnb__list .gnb-sub .gnb-sub__list button:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.haeder-action button {
  margin-right: 10px;
  background: none;
  font-size: 4px;
}

.haeder-action .haeder-action--circle {
  border-radius: 100%;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action--dots {
  margin: 1px 0;
  width: 2px;
  height: 2px;
  background-color: cornflowerblue;
}

.haeder-action .haeder-action--square {
  background: none;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 3px;
}

.haeder-action .haeder-action--square .haeder-action--icon {
  margin-right: 5px;
}

.haeder-action .haeder-action--square .haeder-action--icon img {
  width: 100%;
}

.haeder-action .haeder-action--undo {
  cursor: Default;
  opacity: 0.5;
  background-color: transparent;
}

.haeder-action .haeder-action--share {
  color: cornflowerblue;
  padding-left: 5px;
}

.haeder-action .haeder-action--share .haeder-action--dropdown {
  border-left: 1px solid #eee;
  padding-left: 2px;
  margin-left: 8px;
}

.haeder-action .haeder-action--share .haeder-action--dropdown img {
  width: 80%;
}

.haeder-action .haeder-action--vision {
  background-color: cornflowerblue;
  color: #fff;
}

.haeder-action .haeder-action--question {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.haeder-action .haeder-action--question img {
  width: 100%;
  opacity: 0.5;
}

.haeder-action .haeder-action--more {
  background: none;
  border: none;
  cursor: pointer;
}

.haeder-action .haeder-action--more img {
  width: 100%;
  opacity: 0.5;
}

.haeder-action .sideline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.haeder-action .sideline::before {
  content: "";
  display: block;
  clear: both;
  margin-right: 10px;
  background: #eee;
  width: 1px;
  height: 25px;
  opacity: 1;
}

.header-tools {
  border-top: 1px solid #eee;
  border-bottom: 2px solid #ddd;
}

.header-tools .lnb .lnb__list {
  margin: 4px 0;
  color: #777;
}

.header-tools .lnb .lnb__list::after {
  content: "";
  clear: both;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ddd;
}

.header-tools .lnb .lnb__list:nth-last-of-type(1)::after {
  display: none;
}

.header-tools .lnb .lnb__list button {
  padding: 1px 4px;
  margin: 0 2px;
  border-radius: 2px;
  font-size: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-tools .lnb .lnb__list button:hover {
  background: rgba(100, 149, 237, 0.3);
}

.header-tools .lnb .lnb__list button.lnb__list--disable {
  cursor: Default;
  opacity: 0.5;
  background-color: transparent;
}

.header-tools .lnb .lnb__icon {
  padding: 3px;
  border-radius: 2px;
}

.header-tools .lnb .lnb__icon.lnb__icon--reverse {
  -webkit-transform: rotateY(180deg) scaleY(-1);
          transform: rotateY(180deg) scaleY(-1);
}

.header-tools .lnb .lnb__icon img {
  vertical-align: top;
  width: 100%;
}

.header-tools .lnb .lnb__dropdown {
  margin-left: 2px;
  padding-right: 2px;
}

.header-tools .lnb .lnb__dropdown img {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .workspace {
  width: 80%;
  height: 100vh;
}

main .workspace-product {
  width: 60%;
  height: 80vh;
}

main .sliding {
  width: 20%;
}

.workspace {
  background-color: #eee;
  overflow-y: scroll;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workspace .workspace-product {
  background-color: aliceblue;
}

.sliding-title {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.sliding-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-option .sliding-option__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border-bottom: 1px solid #eee;
}

.sliding-option .sliding-option__list button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 8px;
  text-align: center;
}

.sliding-option .sliding-option__list.sliding-option__list--selected {
  color: cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
}

.sliding-box {
  padding-bottom: 20px;
}

.sliding-box .sliding-canvassize-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-box .sliding-canvassize-title span {
  margin-right: 10px;
}

.sliding-box .sliding-canvassize-title .sliding-subtitle__icon {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(238, 238, 238, 0.3);
}

.sliding-box .sliding-canvassize-title .sliding-subtitle__icon img {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
}

.sliding-box .size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5px;
}

.sliding-box .size .size__list {
  width: 45%;
  padding: 5px 0;
}

.sliding-box .size .size__list label {
  font-size: 8px;
  width: 100%;
}

.sliding-box .size .size__list input {
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-left: 5px;
  line-height: 2.5;
  outline-style: none;
}

.sliding-box .selector-selectbox__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  position: relative;
}

.sliding-box .selector-selectbox__option .selector-selectbox__list {
  width: 45%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-box .selector-selectbox__option .selector-selectbox__list input {
  width: 0px;
  height: 0px;
}

.sliding-box .selector-selectbox__option .selector-selectbox__list label {
  padding-left: 4px;
  font-size: 8px;
}

.sliding-box .selector-selectbox__option .selector-selectbox__list::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #eee;
  cursor: pointer;
}

.sliding-box .selector-selectbox__option .selector-selectbox__list::after {
  content: "";
  position: absolute;
  cursor: pointer;
}

.sliding-box .selector-selectbox__option .selector-selectbox__radio::before {
  border-radius: 50%;
}

.sliding-box .selector-selectbox__option .selector-selectbox__radio::after {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sliding-box .selector-selectbox__option .selector-selectbox__radio.selector-selectbox__radio--selected::before {
  background-color: cornflowerblue;
}

.sliding-box .selector-selectbox__option .selector-selectbox__checkbox::after {
  width: 8px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 14px;
  left: 13px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sliding-box .selector-selectbox__option .selector-selectbox__checkbox.selector-selectbox__checkbox--checked::before {
  background-color: cornflowerblue;
}

.sizelist {
  padding: 15px 0 15px 15px;
}

.sizelist .sizelist_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6px;
  color: #777;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.sizelist .sizelist_mode .option {
  width: 20px;
  padding: 0 15px 5px 0;
}

.sizelist .sizelist_mode .option img {
  width: 100%;
}

.sizelist .sizelist_wh {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sizelist .sizelist_wh li {
  width: 45%;
  font-size: 6px;
  color: #777;
  margin-top: 8px;
}

.sizelist .sizelist_wh li span {
  display: block;
  width: 100%;
  display: block;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.gridsetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px 15px;
}

.gridsetting li {
  width: 45%;
  font-size: 4px;
  color: #777;
  margin-bottom: 10px;
}

.gridsetting li span {
  display: block;
  width: 100%;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.sliding-box {
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #eee;
}

.sliding-box .sliding-subtitle {
  color: #777;
  font-size: 8px;
}

.sliding-box .selector-container {
  padding: 5px 0;
}

.sliding-box .selector-container .selector-container__title {
  width: 100%;
  font-size: 8px;
}

.sliding-box .selector-container .selector-container__button {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

.sliding-box .selector-container .selector-container__button .selector-container__subtitle {
  width: 90%;
  text-align: left;
  font-size: 8px;
  padding: 5px 0 5px 5px;
}

.sliding-box .selector-container .selector-container__button .selector-container__icon {
  width: 10%;
}

.sliding-box .selector-container .selector-container__button .selector-container__icon img {
  width: 30%;
}

.sliding-box .selector-container .selector-container__option {
  display: none;
  width: 100%;
  border: 1px solid #eee;
  margin: 4px 0;
}

.sliding-box .selector-container .selector-container__option .selector-container__list button {
  font-size: 8px;
  line-height: 3;
  text-align: left;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sliding-box .selector-container .selector-container__option .selector-container__list button:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.sliding-box .selector-container .selector-container__option.selector-container__option--open {
  display: block;
}
/*# sourceMappingURL=index.css.map */